# Demographic Data Analyzer

## Some of the questions that will be answered:  
    
-    How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.

-    What is the average age of men?

-    What is the percentage of people who have a Bachelor's degree?

-    What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?

-    What percentage of people without advanced education make more than 50K?

-    with and without `Bachelors`, `Masters`, or `Doctorate`

-    Percentage with salary >50K

-    What is the minimum number of hours a person works per week (hours-per-week feature)?

-    What percentage of the people who work the minimum number of hours per week have a salary of >50K?

-    What country has the highest percentage of people that earn >50K?

-    Identify the most popular occupation for those who earn >50K in India.

In [1]:
# Import needed packages
import pandas as pd
import numpy as np

In [2]:
# Load our data
df = pd.read_csv('adult.data.csv')

In [3]:
df.shape

(32561, 15)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [5]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### # How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.

In [6]:
#race_counts_length = len(df.race.unique())
#race_count

In [7]:
race_counts = df.race.value_counts()
race_counts

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

### # What is the average age of men?

In [8]:
# Using value_counts()
num_men = df[df['sex'] == 'Male'].sex.value_counts()
num_men

Male    21790
Name: sex, dtype: int64

In [9]:
# Using count() and query()
num_men_2 = df.query("sex == 'Male'").sex.count()
num_men_2

21790

In [10]:
num_sex = df.groupby('sex').sex.count()
num_sex

sex
Female    10771
Male      21790
Name: sex, dtype: int64

In [11]:
age_sum_men = df.query("sex == 'Male'").age.sum()
age_sum_men

859257

In [12]:
# Using GroupBy
age_sum = df.groupby("sex").age.sum()
age_sum

sex
Female    397000
Male      859257
Name: age, dtype: int64

In [118]:
# Average age of men
average_age_men = df.query("sex == 'Male'").age.mean()
average_age_men

39.43354749885268

In [14]:
# Rounding off the age to a whole number
average_age_men = age_sum_men = df.query("sex == 'Male'").age.mean()
average_age_men = round(average_age_men)
average_age_men

39

### # What is the percentage of people who have a Bachelor's degree?

In [15]:
percentage_bachelors = None

In [16]:
bachelors_holder = df.query("education == 'Bachelors'").education.count()
bachelors_holder

5355

In [17]:
#total_education = df.education.value_counts().sum()
total_education = df.education.count()
total_education

32561

In [18]:
percentage_bachelors = (bachelors_holder / total_education) * 100

# Print result and round off to 2 decimal places
print(f"{percentage_bachelors:.2f}%")

16.45%

In [19]:
# Using round() method
percentage_bachelors = (bachelors_holder / total_education) * 100

# Print result and round off to 2 decimal places
result = round(percentage_bachelors, 2)
print(f"{result}%")

16.45%

In [120]:
percentage_bachelors = df.education.value_counts(normalize = True)*100
percentage_bachelors

HS-grad         32.250238
Some-college    22.391818
Bachelors       16.446055
Masters          5.291607
Assoc-voc        4.244341
11th             3.608612
Assoc-acdm       3.276926
10th             2.865391
7th-8th          1.983969
Prof-school      1.768987
9th              1.578576
12th             1.329812
Doctorate        1.268389
5th-6th          1.022696
1st-4th          0.515955
Preschool        0.156629
Name: education, dtype: float64

### # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?

In [20]:
# Check the number of advanced degree holders
advanced_degree_holders = df.query("education.isin(['Bachelors', 'Masters', 'Doctorate'])")

advanced_degree_holders_count = df.query("education.isin(['Bachelors', 'Masters', 'Doctorate'])").count()
advanced_degree_holders_count

age               7491
workclass         7491
fnlwgt            7491
education         7491
education-num     7491
marital-status    7491
occupation        7491
relationship      7491
race              7491
sex               7491
capital-gain      7491
capital-loss      7491
hours-per-week    7491
native-country    7491
salary            7491
dtype: int64

In [21]:
# Get the count according to each advanced degree group
advanced_degree_holders_group_counts = df.query("education.isin(['Bachelors', 'Masters', 'Doctorate'])").education.value_counts()
advanced_degree_holders_group_counts

Bachelors    5355
Masters      1723
Doctorate     413
Name: education, dtype: int64

In [22]:
advanced_degree_holders_group_counts_sum = df.query("education.isin(['Bachelors', 'Masters', 'Doctorate'])").education.value_counts().sum()
advanced_degree_holders_group_counts_sum

7491

In [23]:
# To confirm the result of the sum of advanced degree holders
advanced_degree_holders_sum = advanced_degree_holders.education.count().sum()
advanced_degree_holders_sum

7491

In [24]:
advanced_degree_holders_salary = advanced_degree_holders.groupby('salary').education.value_counts()
advanced_degree_holders_salary

salary  education
<=50K   Bachelors    3134
        Masters       764
        Doctorate     107
>50K    Bachelors    2221
        Masters       959
        Doctorate     306
Name: education, dtype: int64

In [25]:
advanced_degree_holders_salary_gt50k_sum = advanced_degree_holders.query("salary =='>50K'").value_counts().sum()
advanced_degree_holders_salary_gt50k_sum

3486

In [26]:
# Rounding the figure to 2 decimal places
advanced_education_salary_gt50k_percentage = (advanced_degree_holders_salary_gt50k_sum / advanced_degree_holders_sum) * 100
print(f"{advanced_education_salary_gt50k_percentage:.2f}%")

46.54%

### # What percentage of people without advanced education make more than 50K?

In [27]:
df.education.value_counts()

HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: education, dtype: int64

In [28]:
# without_advanced_degree
without_advanced_degree = df.query("education.isin(['HS-grad', 'Some-college', 'Assoc-voc', '11th', 'Assoc-acdm', '10th', '7th-8th', 'Prof-school', '9th', '12th', '5th-6th', '1st-4th', 'Preschool'])")
without_advanced_degree_sum = without_advanced_degree.education.value_counts().sum()
without_advanced_degree_sum

25070

In [29]:
without_advanced_degree_gt50k_sum = without_advanced_degree.query("salary == '>50K'").value_counts().sum()
without_advanced_degree_gt50k_sum

4355

In [30]:
without_advanced_degree_gt50k_percentage = (without_advanced_degree_gt50k_sum / without_advanced_degree_sum) * 100
print(f"{without_advanced_degree_gt50k_percentage:.2f}%")

17.37%

### # with and without `Bachelors`, `Masters`, or `Doctorate`

In [31]:
higher_education = advanced_degree_holders_group_counts_sum
higher_education

7491

In [32]:
lower_education = without_advanced_degree_sum
lower_education

25070

### # People with salary >50K with advanced degrees and without advanced degrees.

In [33]:
higher_education_rich = advanced_degree_holders_salary_gt50k_sum
higher_education_rich

3486

In [34]:
lower_education_rich = without_advanced_degree_gt50k_sum
lower_education_rich

4355

### # What is the minimum number of hours a person works per week (hours-per-week feature)?

In [35]:
#df.head()
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

### # What percentage of the people who work the minimum number of hours per week have a salary of >50K?

In [36]:
minimum_workers = df[df['hours-per-week'] == min_work_hours]

num_min_workers = df[df['hours-per-week'] == min_work_hours].value_counts().sum()
num_min_workers

#num_min_workers = None

20

In [37]:
num_min_workers_rich = minimum_workers.query("salary == '>50K'").value_counts().sum()
num_min_workers_rich

2

In [38]:
# Percentage 
rich_percentage = (num_min_workers_rich / num_min_workers) * 100
print(f"{rich_percentage}%")

10.0%

### # What country has the highest percentage of people that earn >50K?

In [100]:
new_df = df.groupby('native-country').salary.value_counts(normalize=True, sort=True)*100
new_df.head(30)

native-country      salary
?                   <=50K     74.957118
                    >50K      25.042882
Cambodia            <=50K     63.157895
                    >50K      36.842105
Canada              <=50K     67.768595
                    >50K      32.231405
China               <=50K     73.333333
                    >50K      26.666667
Columbia            <=50K     96.610169
                    >50K       3.389831
Cuba                <=50K     73.684211
                    >50K      26.315789
Dominican-Republic  <=50K     97.142857
                    >50K       2.857143
Ecuador             <=50K     85.714286
                    >50K      14.285714
El-Salvador         <=50K     91.509434
                    >50K       8.490566
England             <=50K     66.666667
                    >50K      33.333333
France              <=50K     58.620690
                    >50K      41.379310
Germany             <=50K     67.883212
                    >50K      32.116788
Greece              <=50K     72.413793
                    >50K      27.586207
Guatemala           <=50K     95.312500
                    >50K       4.687500
Haiti               <=50K     90.909091
                    >50K       9.090909
Name: salary, dtype: float64

In [106]:
new_df = df.groupby('native-country').salary.value_counts(normalize=True).nlargest(50)*100
#new_df.sort_values(ascending=False)
new_df

native-country              salary
Holand-Netherlands          <=50K     100.000000
Outlying-US(Guam-USVI-etc)  <=50K     100.000000
Dominican-Republic          <=50K      97.142857
Columbia                    <=50K      96.610169
Guatemala                   <=50K      95.312500
Mexico                      <=50K      94.867807
Nicaragua                   <=50K      94.117647
Peru                        <=50K      93.548387
Vietnam                     <=50K      92.537313
Honduras                    <=50K      92.307692
El-Salvador                 <=50K      91.509434
Haiti                       <=50K      90.909091
Puerto-Rico                 <=50K      89.473684
Trinadad&Tobago             <=50K      89.473684
Portugal                    <=50K      89.189189
Laos                        <=50K      88.888889
Jamaica                     <=50K      87.654321
Ecuador                     <=50K      85.714286
Thailand                    <=50K      83.333333
Poland                      <=50K      80.000000
South                       <=50K      80.000000
Ireland                     <=50K      79.166667
Hungary                     <=50K      76.923077
United-States               <=50K      75.416524
Scotland                    <=50K      75.000000
?                           <=50K      74.957118
Cuba                        <=50K      73.684211
China                       <=50K      73.333333
Greece                      <=50K      72.413793
Hong                        <=50K      70.000000
Philippines                 <=50K      69.191919
Germany                     <=50K      67.883212
Canada                      <=50K      67.768595
England                     <=50K      66.666667
Italy                       <=50K      65.753425
Cambodia                    <=50K      63.157895
Yugoslavia                  <=50K      62.500000
Japan                       <=50K      61.290323
Taiwan                      <=50K      60.784314
India                       <=50K      60.000000
France                      <=50K      58.620690
Iran                        <=50K      58.139535
                            >50K       41.860465
France                      >50K       41.379310
India                       >50K       40.000000
Taiwan                      >50K       39.215686
Japan                       >50K       38.709677
Yugoslavia                  >50K       37.500000
Cambodia                    >50K       36.842105
Italy                       >50K       34.246575
Name: salary, dtype: float64

**Observation**

Iran is the country with the largest percentage of rich people, i.e people who earn >50K compared to the whole population.

In [117]:
# Country with the largest number of those who earn >50K

new_df = df.groupby('native-country')['salary'].value_counts()
new_df.sort_values(ascending=False)
#new_df

native-country      salary
United-States       <=50K     21999
                    >50K       7171
Mexico              <=50K       610
?                   <=50K       437
                    >50K        146
                              ...
Trinadad&Tobago     >50K          2
Columbia            >50K          2
Laos                >50K          2
Holand-Netherlands  <=50K         1
Honduras            >50K          1
Name: salary, Length: 82, dtype: int64

**Observation**

The country with the largest number of rich people is United States i.e people who earn >50K compared to other contries.

 ### # Identify the most popular occupation for those who earn >50K in India.

In [142]:
df_india = df[df['native-country'] == 'India']
df_india = df_india.groupby(['occupation']).salary.value_counts()
df_india

occupation         salary
Adm-clerical       <=50K     10
                   >50K       1
Craft-repair       <=50K      5
Exec-managerial    >50K       8
                   <=50K      2
Handlers-cleaners  <=50K      3
Machine-op-inspct  <=50K      2
Other-service      <=50K      2
                   >50K       2
Prof-specialty     >50K      25
                   <=50K     15
Protective-serv    <=50K      4
Sales              <=50K     13
                   >50K       1
Tech-support       <=50K      3
                   >50K       2
Transport-moving   <=50K      1
                   >50K       1
Name: salary, dtype: int64

In [143]:
df_india.sort_values(ascending = False)

occupation         salary
Prof-specialty     >50K      25
                   <=50K     15
Sales              <=50K     13
Adm-clerical       <=50K     10
Exec-managerial    >50K       8
Craft-repair       <=50K      5
Protective-serv    <=50K      4
Handlers-cleaners  <=50K      3
Tech-support       <=50K      3
Exec-managerial    <=50K      2
Machine-op-inspct  <=50K      2
Other-service      <=50K      2
                   >50K       2
Tech-support       >50K       2
Adm-clerical       >50K       1
Sales              >50K       1
Transport-moving   <=50K      1
                   >50K       1
Name: salary, dtype: int64

**Observation**

The most popular occupation for those who earn >50K in India is Prof-specialty.